#layer_popup {

    z-index:50000;
    /*background-color:rgba(0,0,0,0.4);*/
    /*opacity:0.5;*/
    position:absolute;
    width:100%;
    height:100%;
    overflow:auto;

    
}

#container_popup {

    z-index:50001;
    overflow:auto;
   /* border: solid #fbfbfb 4px;*/
    position:absolute;
    overflow:visible;
    width:100%;
    height:100%;
          display: flex;
      align-items: center;
      justify-content: center;

}

.content_popup {
    
    /*position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);*/
/*    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    z-index:50005;
    margin-top:0px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    opacity:1;
    /*-webkit-box-shadow: 0px 0px 160px 0px rgba(80,80,80,1);
    -moz-box-shadow: 0px 0px 160px 0px rgba(80,80,80,1);
    box-shadow: 0px 0px 160px 0px rgba(80,80,80,1);*/
    /*box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.33);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.33);*/
}

/* Css for animation loading */
/* Use this html tag */
/* Get from https://loading.io/css/ */
/*<div class="lds-facebook"><div></div><div></div><div></div></div>*/

.lds-facebook {
  display: inline-block;
  position: absolute;
  left:50%;
  top:50%;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
